<div class="card">
  <div class="card-header">
    Application Activity History
  </div>
  <div class="list-group list-group-flush" *ngIf="activityService.activityHistory.length !== 0">
    <div class="list-group-item" *ngFor="let activity of activityService.activityHistory">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1"><i class="fa fa-link"></i> File copied successfully</h5>
      </div>
      <p class="mb-1">
        <code>{{activity.sourcePath}}</code><br />
        <span>to</span><br />
        <code>{{activity.targetPath}}</code>
      </p>
      <small>({{activity.elapsedTime}} ms)</small>
    </div>
  </div>
  <div class="card-body" *ngIf="activityService.activityHistory.length === 0">
    There is no application activity to report.
  </div>
</div>
