<h5 class="mb-1">About</h5>
<small>DirWatchTransfer allows for file and directory syncing, watching, and copying.</small>
<hr />
<p>
  DirWatchTransfer allows for symbolic links to be created be a source and target directory. From those links watchers and syncs can be generated as you need. These can be configured
  to match your specific need/use case.
</p>
<p>
  A detailed breakdown of each of the following features is provided below.
</p>
<ul>
  <li>Symbolic links</li>
  <li>Watchers</li>
  <li>Directory sync</li>
  <li>Logging</li>
</ul>
<h5 class="mb-1">Watchers</h5>
<small>Watch for file changes in real time based on user specified notification filters.</small>
<hr />
<p>
  Watchers are fully customizable with configurable notification filters. When creating a watcher you can set what consitutes a file change for this specific
  watcher. Multiple watchers can be created for a single symbolic link however only <strong>ONE</strong> watcher at a time may be running. If you wish
  to switch watchers stop the currently running watcher and start your desired watcher.
</p>
<p>
  The following fitlers can be applied to watchers.
</p>
<ul>
  <li>File name</li>
  <li>Directory name</li>
  <li>Size</li>
  <li>Last write</li>
  <li>Last access</li>
  <li>Creation time</li>
  <li>Security</li>
</ul>
<p>
  <em>As of version <code>1.0.0</code> the following filters have not been testing and are not guarenteed to work property <code>Directory name, Creation time, Security</code>.</em>
</p>
<h5 class="mb-1">Sync</h5>
<small>Schedule routine directory syncs to run as background processes.</small>
<hr />
<p>Documentation currently not available</p>
