/* You can add global styles to this file, and also import other style files */
html, body {
  background-color: #f7f7f7;
}

app-root {
    height: 100%;
}

.list-group-item {
  user-select: none;
}

.list-group input[type="checkbox"] {
  display: none;
}

  .list-group input[type="checkbox"] + .list-group-item {
    cursor: pointer;
  }

    .list-group input[type="checkbox"] + .list-group-item:before {
      content: "\2713";
      color: transparent;
      font-weight: bold;
      margin-right: 1em;
    }

  .list-group input[type="checkbox"]:checked + .list-group-item {
    background-color: #0275D8;
    color: #FFF;
  }

    .list-group input[type="checkbox"]:checked + .list-group-item:before {
      color: inherit;
    }

.list-group input[type="radio"] {
  display: none;
}

  .list-group input[type="radio"] + .list-group-item {
    cursor: pointer;
  }

    .list-group input[type="radio"] + .list-group-item:before {
      content: "\2022";
      color: transparent;
      font-weight: bold;
      margin-right: 1em;
    }

  .list-group input[type="radio"]:checked + .list-group-item {
    background-color: #0275D8;
    color: #FFF;
  }

    .list-group input[type="radio"]:checked + .list-group-item:before {
      color: inherit;
    }

#sure-toast-root {
  position: fixed;
  z-index: 10000;
  margin: 25px;
}

  #sure-toast-root .sure-toast:last-child {
    margin-bottom: 0;
  }

.sure-toast {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  background-color: #353535;
  color: #FEFEFE;
  margin-bottom: 15px;
  width: auto;
  animation: fadein .5s;
}

#sure-toast-root.bottom {
  bottom: 0;
  left: 0;
  right: 0;
}

#sure-toast-root.top {
  top: 0;
  left: 0;
  right: 0;
}

#sure-toast-root.top-flush {
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
}

#sure-toast-root.bottom-flush {
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
}

#sure-toast-root.top-left {
  top: 0;
  left: 0;
}

#sure-toast-root.top-right {
  top: 0;
  right: 0;
}

#sure-toast-root.bottom-left {
  bottom: 0;
  left: 0;
}

#sure-toast-root.bottom-right {
  bottom: 0;
  right: 0;
}

.sure-toast.success {
  background-color: #D4EDDA;
  color: #155724;
}

.sure-toast.warning {
  background-color: #FFF3CD;
  color: #A46404;
}

.sure-toast.error {
  background-color: #F8D7DA;
  color: #881C24;
}

.sure-toast.info {
  background-color: #D4EEF9;
  color: #004085;
}

.sure-toast .sure-toast-content {
  padding: 15px;
}

.sure-toast .sure-toast-header {
  margin-bottom: 10px;
}

.sure-toast .sure-toast-content .sure-toast-header .sure-toast-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.sure-toast .action-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 15px;
}

.sure-toast .toast-action {
  text-decoration: none;
  color: #9DC2FA;
  text-transform: uppercase;
  letter-spacing: .03em;
  font-weight: 600;
  cursor: pointer;
  font-size: 0.8rem;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 10px;
}

.sure-toast.success .toast-action {
  color: #155724;
}

.sure-toast.warning .toast-action {
  color: #A46404;
}

.sure-toast.error .toast-action {
  color: #881C24;
}

.sure-toast.info .toast-action {
  color: #004085;
}

.sure-toast .progress-bar {
  width: 100%;
  height: 15px;
  background-color: #525252;
}

.sure-toast.success .progress-bar {
  background-color: #C2D8C7;
}

.sure-toast.warning .progress-bar {
  background-color: #E8DCB6;
}

.sure-toast.error .progress-bar {
  background-color: #DEBDC0;
}

.sure-toast.info .progress-bar {
  background-color: #C0DAE5;
}

@keyframes collapse {
  from {
    width: 100%;
  }

  to {
    width: 0;
  }
}

.fade.in {
  animation-name: fade-in;
  animation-duration: 1s
}

.fade.loop, .fade.out {
  animation-name: fade-out;
  animation-duration: 1s
}

.fade.loop {
  animation-direction: alternate
}

@keyframes fade-in {
  0% {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

@keyframes fade-out {
  0% {
    opacity: 1
  }

  to {
    opacity: 0
  }
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0,100%,0);
    transform: translate3d(0,100%,0)
  }

  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0,100%,0);
    transform: translate3d(0,100%,0)
  }

  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp
}

.pulse {
  animation-name: pulse;
  animation-duration: 2s
}

@keyframes pulse {
  0% {
    transform: scale(1)
  }

  50% {
    transform: scale(1.1)
  }

  to {
    transform: scale(1)
  }
}

.rotate {
  animation-name: rotate;
  animation-duration: 2s
}

@keyframes rotate {
  to {
    transform: rotate(1turn)
  }
}

.container {
  width: 75%;
  margin: 0 auto
}

.container-flush {
  width: 100%;
  padding: 15px
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 15px
}

  .row.match-content .column {
    flex-grow: 0
  }

  .row .column {
    flex-basis: 0;
    flex-grow: 1;
    margin-bottom: 15px;
    margin-right: 15px
  }

    .row .column:last-child {
      margin-right: 0
    }

  .row .sm-1 {
    flex: 0 0 8.33333%
  }

  .row .sm-2 {
    flex: 0 0 16.66667%
  }

  .row .sm-3 {
    flex: 0 0 25.0%
  }

  .row .sm-4 {
    flex: 0 0 33.33333%
  }

  .row .sm-5 {
    flex: 0 0 41.66666%
  }

  .row .sm-6 {
    flex: 0 0 50.0%
  }

  .row .sm-7 {
    flex: 0 0 58.33333%
  }

  .row .sm-8 {
    flex: 0 0 66.66666%
  }

  .row .sm-9 {
    flex: 0 0 75.0%
  }

  .row .sm-10 {
    flex: 0 0 83.33333%
  }

  .row .sm-11 {
    flex: 0 0 91.66666%
  }

  .row .sm-12 {
    flex: 0 0 100.0%
  }

@media only screen and (max-width:576px) {
  .row .sm {
    flex: 1
  }
}

.row .md-1 {
  flex: 0 0 8.33333%
}

.row .md-2 {
  flex: 0 0 16.66667%
}

.row .md-3 {
  flex: 0 0 25.0%
}

.row .md-4 {
  flex: 0 0 33.33333%
}

.row .md-5 {
  flex: 0 0 41.66666%
}

.row .md-6 {
  flex: 0 0 50.0%
}

.row .md-7 {
  flex: 0 0 58.33333%
}

.row .md-8 {
  flex: 0 0 66.66666%
}

.row .md-9 {
  flex: 0 0 75.0%
}

.row .md-10 {
  flex: 0 0 83.33333%
}

.row .md-11 {
  flex: 0 0 91.66666%
}

.row .md-12 {
  flex: 0 0 100.0%
}

.row .lg-1 {
  flex: 0 0 8.33333%
}

.row .lg-2 {
  flex: 0 0 16.66667%
}

.row .lg-3 {
  flex: 0 0 25.0%
}

.row .lg-4 {
  flex: 0 0 33.33333%
}

.row .lg-5 {
  flex: 0 0 41.66666%
}

.row .lg-6 {
  flex: 0 0 50.0%
}

.row .lg-7 {
  flex: 0 0 58.33333%
}

.row .lg-8 {
  flex: 0 0 66.66666%
}

.row .lg-9 {
  flex: 0 0 75.0%
}

.row .lg-10 {
  flex: 0 0 83.33333%
}

.row .lg-11 {
  flex: 0 0 91.66666%
}

.row .lg-12 {
  flex: 0 0 100.0%
}

.flex {
  display: flex
}

.flex-r {
  flex-direction: row
}

.flex-c {
  flex-direction: column
}

.justify-content-center {
  justify-content: center
}

.justify-content-around {
  justify-content: space-around
}

.justify-content-between {
  justify-content: space-between
}

.justify-content-evenly {
  justify-content: space-evenly
}

.justify-content-start {
  justify-content: flex-start
}

.justify-content-end {
  justify-content: flex-end
}

.justify-self-auto {
  justify-self: auto
}

.justify-self-normal {
  justify-self: normal
}

.justify-self-stretch {
  justify-self: stretch
}

.justify-self-center {
  justify-self: center
}

.justify-self-start {
  justify-self: start
}

.justify-self-end {
  justify-self: end
}

.justify-self-f-start {
  justify-self: flex-start
}

.justify-self-f-end {
  justify-self: flex-end
}

.justify-self-s-start {
  justify-self: self-start
}

.justify-self-s-end {
  justify-self: self-end
}

.justify-self-left {
  justify-self: left
}

.justify-self-right {
  justify-self: right
}

.justify-self-baseline {
  justify-self: baseline
}

.justify-self-f-baseline {
  justify-self: first baseline
}

.justify-self-l-baseline {
  justify-self: last baseline
}

.justify-self-safe-center {
  justify-self: safe center
}

.justify-self-unsafe-center {
  justify-self: unsafe center
}

.justify-self-inherit {
  justify-self: inherit
}

.justify-self-initial {
  justify-self: auto
}

.justify-self-unset {
  justify-self: unset
}

.align-items-baseline {
  align-items: baseline
}

.align-items-center {
  align-items: center
}

.align-items-flex-end {
  align-items: flex-end
}

.align-items-flex-start {
  align-items: flex-start
}

.align-items-stretch {
  align-items: stretch
}

.align-items-initial {
  align-items: normal
}

.align-items-inherit {
  align-items: inherit
}

.align-items-unset {
  align-items: unset
}

.section {
  padding-bottom: 25px
}

.min-width-100 {
  min-width: 100%
}

.button {
  background-color: #f3f3f3;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  display: inline-block
}

  .button:hover {
    background-color: #e6e6e6
  }

  .button.is-medium {
    padding: 12.5px
  }

  .button.is-large {
    padding: 15px
  }

.button-group {
  display: flex
}

  .button-group .button {
    margin-right: 10px
  }

    .button-group .button:last-child {
      margin-right: 0
    }

.card {
  background-color: #f3f3f3;
  margin-bottom: 15px;
  flex: 1
}

  .card .card-header {
    background-color: #e6e6e6;
    padding: 15px;
    font-size: 16px;
    font-weight: 400
  }

  .card .card-body {
    padding: 15px
  }

    .card .card-body .card-text {
      font-size: 16px;
      margin: 0
    }

  .card .card-title {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 1.25rem;
    display: inline-block
  }

.box {
  border: .5px solid #f3f3f3;
  padding: 15px
}

.label {
  color: #f3f3f3 !important;
  border-radius: 5px;
  font-size: 0;
  display: inline-block
}

  .label > .label-title {
    background-color: #333;
    color: #f3f3f3;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 1rem;
    padding: 7px;
    line-height: 32px
  }

  .label > .label-details {
    background-color: #f3f3f3;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 1rem;
    padding: 7px;
    line-height: 31px
  }

.table {
  width: 100%;
  text-align: left;
  border-collapse: separate;
  border-spacing: 0
}

  .table.is-fixed-width {
    table-layout: fixed;
    width: 100%
  }

  .table.is-rounded thead tr:first-child th:first-child {
    border-top-left-radius: 10px
  }

  .table.is-rounded thead tr:first-child th:last-child {
    border-top-right-radius: 10px
  }

  .table.is-rounded tbody tr:last-child td {
    border-bottom: none
  }

  .table.table-hoverable tbody tr:hover {
    background-color: #f9f9f9
  }

  .table.table-striped tbody tr:nth-child(odd) {
    background-color: #f3f3f3
  }

  .table thead tr {
    border-bottom: 1px solid #e6e6e6
  }

    .table thead tr td, .table thead tr th {
      padding: 15px
    }

  .table tbody tr {
    border-bottom: 1px solid #e6e6e6
  }

    .table tbody tr td, .table tbody tr th {
      padding: 15px;
      border: none
    }

    .table tbody tr td {
      border-bottom: .5px solid #e6e6e6
    }

  .table tfoot tr {
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6
  }

    .table tfoot tr td, .table tfoot tr th {
      padding: 15px
    }

.nav.nav-menu {
  list-style-type: none;
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 0
}

@media only screen and (max-width:768px) {
  .nav.nav-menu .nav-toggle {
    display: block
  }
}

@media only screen and (min-width:768px) {
  .nav.nav-menu .nav-toggle {
    display: none
  }
}

.nav.nav-menu > .nav-left {
  display: flex
}

.nav.nav-menu > .nav-right {
  display: flex;
  justify-content: flex-end
}

@media only screen and (max-width:768px) {
  .nav.nav-menu > .nav-right {
    display: none
  }
}

.nav.nav-menu .nav-text {
  font-weight: 700;
  font-size: 1.25rem;
  font-weight: 400;
  padding: 15px
}

  .nav.nav-menu .nav-text a {
    color: #333;
    text-decoration: none;
    height: 100%
  }

.nav.nav-menu .nav-item {
  display: flex;
  list-style-type: none
}

  .nav.nav-menu .nav-item > li {
    padding: 15px
  }

    .nav.nav-menu .nav-item > li a {
      color: #333
    }

.nav-menu.fill-dark .nav.nav-menu .nav-item > li {
  background-color: #000
}

.nav.nav-menu .nav-item > li:hover {
  background-color: #e6e6e6;
  cursor: pointer
}

.nav.nav-menu.fill-danger .nav-text a, .nav.nav-menu.fill-dark .nav-text a, .nav.nav-menu.fill-link .nav-text a, .nav.nav-menu.fill-success .nav-text a, .nav.nav-menu.fill-warning .nav-text a {
  color: #e6e6e6
}

.nav.nav-menu.fill-danger .nav-item > li a, .nav.nav-menu.fill-dark .nav-item > li a, .nav.nav-menu.fill-link .nav-item > li a, .nav.nav-menu.fill-success .nav-item > li a, .nav.nav-menu.fill-warning .nav-item > li a {
  color: #f3f3f3
}

.nav.nav-menu.fill-dark .nav-item > li:hover {
  background-color: #262626
}

.nav.nav-menu.fill-success .nav-item > li:hover {
  background-color: #5caf8b
}

.nav.nav-menu.fill-danger .nav-item > li:hover {
  background-color: #d93e30
}

.nav.nav-menu.fill-warning .nav-item > li:hover {
  background-color: #fec527
}

.nav.nav-menu.fill-link .nav-item > li:hover {
  background-color: #006bb3
}

.nav.nav-menu li a {
  text-decoration: none
}

.nav.nav-list, .nav.nav-list .nav-group {
  list-style-type: none;
  padding: 0
}

  .nav.nav-list .nav-group {
    margin: 0 0 25px
  }

    .nav.nav-list .nav-group li {
      font-size: 14px;
      padding: 5px 0;
      font-weight: 700
    }

      .nav.nav-list .nav-group li.item-header {
        text-transform: uppercase;
        color: #a0aec0;
        font-weight: 700
      }

      .nav.nav-list .nav-group li:last-child {
        border-bottom: none
      }

      .nav.nav-list .nav-group li a {
        text-decoration: none;
        color: #718096;
        cursor: pointer
      }

.nav.nav-flush {
  border-left: none;
  border-right: none
}

.pagination {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center
}

  .pagination li {
    padding: 7px 10px;
    margin-right: 7px;
    cursor: pointer
  }

    .pagination li.active, .pagination li:hover {
      background-color: #f3f3f3
    }

    .pagination li a {
      text-decoration: none
    }

pre {
  background-color: #f3f3f3;
  border: 1px solid #e6e6e6;
  border-radius: 10px;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.1),0 1px 2px 0 rgba(0,0,0,.06);
  font-size: 14px;
  color: #dd5246;
  padding: 15px;
  display: flex;
  flex-direction: column
}

  pre .code-line {
    display: flex;
    flex-direction: row;
    padding: 3px 0 3px 5px
  }

  pre .tag {
    color: #c800a4
  }

  pre .attribute {
    color: #450084
  }

  pre .value {
    color: #df0002
  }

.code-preview {
  border: 1px solid #e6e6e6;
  border-radius: 10px;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.1),0 1px 2px 0 rgba(0,0,0,.06);
  padding: 0
}

  .code-preview pre {
    margin: 0;
    border: none;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0
  }

  .code-preview .output {
    padding: 15px
  }

    .code-preview .output:before {
      text-transform: uppercase;
      color: #a0aec0;
      font-weight: 700;
      font-size: .75rem
    }

code {
  display: inline;
  background-color: #f9f2f4;
  color: #c7254e;
  padding: 5px 8px;
  border-radius: 10px;
  font-size: .75rem
}

.breadcrumb {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-grow: 1;
  margin: 0;
  padding: 0;
  background-color: #f3f3f3
}

  .breadcrumb i {
    margin-right: 15px
  }

  .breadcrumb li {
    padding: 15px 0;
    font-size: 14px
  }

    .breadcrumb li:after {
      content: "/";
      padding: 0 15px
    }

    .breadcrumb li:first-child {
      padding-left: 15px
    }

    .breadcrumb li:last-child:after {
      content: ""
    }

    .breadcrumb li a {
      text-decoration: none;
      color: #718096 !important;
      cursor: pointer
    }

.form-section {
  padding-bottom: 15px
}

  .form-section > .form-label {
    display: inline-block;
    font-size: 16px;
    margin-bottom: 10px
  }

.input-element {
  display: block;
  width: 100%;
  border: .5px solid #9e9e9e;
  padding: 10px
}

.checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 7px
}

  .checkbox > input {
    padding: 0;
    margin: 0 10px 0 0
  }

.radio {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 7px
}

  .radio > input {
    padding: 0;
    margin: 0 10px 0 0
  }

.modal-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.5);
  flex-direction: row;
  justify-content: center;
  display: none;
  pointer-events: none
}

  .modal-overlay.open {
    display: flex;
    pointer-events: auto
  }

  .modal-overlay .modal {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 700px
  }

    .modal-overlay .modal .modal-header {
      border-bottom: 1px solid #e6e6e6;
      padding: 15px
    }

    .modal-overlay .modal .modal-content {
      padding: 15px;
      overflow-y: auto
    }

    .modal-overlay .modal .modal-footer {
      border-top: 1px solid #e6e6e6;
      padding: 15px
    }

    .modal-overlay .modal.modal-fullscreen {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column
    }

      .modal-overlay .modal.modal-fullscreen .modal-content {
        flex-grow: 1
      }

.tooltip {
  position: relative;
  width: fit-content
}

  .tooltip .tooltip-content {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background: #9e9e9e;
    width: 100px;
    color: #f3f3f3;
    padding: 5px 8px;
    margin: -30px auto 0;
    font-size: .75rem;
    width: max-content
  }

  .tooltip .tooltip-source:hover + .tooltip-content {
    display: block
  }

.swatch {
  display: flex;
  flex-direction: row;
  margin-right: 15px
}

  .swatch .color {
    width: 20px;
    height: 20px;
    margin-right: 10px
  }

  .swatch .name {
    align-self: center
  }

.swatch-panel {
  display: flex;
  flex-direction: column;
  width: 100%
}

  .swatch-panel .color {
    width: 100%;
    height: 30px
  }

  .swatch-panel .name {
    align-self: flex-start;
    padding: 10px
  }

* {
  font-family: Arial,Helvetica,sans-serif;
  color: #718096;
  font-size: 16px
}

label {
  display: inline-block
}

.cursor-pointer {
  cursor: pointer
}

.help-text {
  text-transform: uppercase;
  color: #a0aec0;
  font-weight: 700;
  font-size: .75rem
}

.title-1 {
  font-size: 2rem
}

.title-1, .title-2 {
  font-weight: 400;
  padding: 0;
  margin: 0 0 15px
}

.title-2 {
  font-size: 1.75rem
}

.title-3 {
  font-size: 1.5rem
}

.title-3, .title-4 {
  font-weight: 400;
  padding: 0;
  margin: 0 0 15px
}

.title-4 {
  font-size: 1.25rem
}

.title-5 {
  font-size: 1rem;
  font-weight: 400;
  padding: 0;
  margin: 0 0 15px
}

p {
  margin-top: 0;
  margin-bottom: 1rem
}

.text-large {
  font-size: 1.5rem
}

.text-medium {
  font-size: 1.25rem
}

.text-default {
  font-size: 16px
}

.text-small {
  font-size: .75rem
}

.text-extra-small {
  font-size: .5rem
}

.text-center {
  text-align: center
}

.iterate-1 {
  animation: 1
}

.iterate-2 {
  animation: 2
}

.iterate-3 {
  animation: 3
}

.iterate-4 {
  animation: 4
}

.iterate-5 {
  animation: 5
}

.iterate-infinite {
  animation: infinite
}

.delay-1s {
  animation-delay: 1s
}

.delay-2s {
  animation-delay: 2s
}

.delay-3s {
  animation-delay: 3s
}

.delay-4s {
  animation-delay: 4s
}

.delay-5s {
  animation-delay: 5s
}

.duration-1s {
  animation-duration: 1s
}

.duration-2s {
  animation-duration: 2s
}

.duration-3s {
  animation-duration: 3s
}

.duration-4s {
  animation-duration: 4s
}

.duration-5s {
  animation-duration: 5s
}

.fill-red-darken-0, .fill-red-lighten-0 {
  background-color: #dc3545
}

.text-red-darken-0, .text-red-lighten-0 {
  color: #dc3545
}

.fill-red-lighten-1 {
  background-color: #e04b59
}

.fill-red-darken-1 {
  background-color: #d32535
}

.text-red-lighten-1 {
  color: #e04b59
}

.text-red-darken-1 {
  color: #d32535
}

.fill-red-lighten-2 {
  background-color: #e4606d
}

.fill-red-darken-2 {
  background-color: #bd2130
}

.text-red-lighten-2 {
  color: #e4606d
}

.text-red-darken-2 {
  color: #bd2130
}

.fill-red-lighten-3 {
  background-color: #e77681
}

.fill-red-darken-3 {
  background-color: #a71d2a
}

.text-red-lighten-3 {
  color: #e77681
}

.text-red-darken-3 {
  color: #a71d2a
}

.fill-red-lighten-4 {
  background-color: #eb8c95
}

.fill-red-darken-4 {
  background-color: #921925
}

.text-red-lighten-4 {
  color: #eb8c95
}

.text-red-darken-4 {
  color: #921925
}

.fill-red {
  background-color: #dc3545
}

.fill-red-lighten-5 {
  background-color: #efa2a9
}

.fill-red-darken-5 {
  background-color: #7c151f
}

.text-red {
  color: #dc3545
}

.text-red-lighten-5 {
  color: #efa2a9
}

.text-red-darken-5 {
  color: #7c151f
}

.fill-orange-darken-0, .fill-orange-lighten-0 {
  background-color: #ff9800
}

.text-orange-darken-0, .text-orange-lighten-0 {
  color: #ff9800
}

.fill-orange-lighten-1 {
  background-color: #ffa21a
}

.fill-orange-darken-1 {
  background-color: #e68900
}

.text-orange-lighten-1 {
  color: #ffa21a
}

.text-orange-darken-1 {
  color: #e68900
}

.fill-orange-lighten-2 {
  background-color: #ffad33
}

.fill-orange-darken-2 {
  background-color: #cc7a00
}

.text-orange-lighten-2 {
  color: #ffad33
}

.text-orange-darken-2 {
  color: #cc7a00
}

.fill-orange-lighten-3 {
  background-color: #ffb74d
}

.fill-orange-darken-3 {
  background-color: #b36a00
}

.text-orange-lighten-3 {
  color: #ffb74d
}

.text-orange-darken-3 {
  color: #b36a00
}

.fill-orange-lighten-4 {
  background-color: #ffc166
}

.fill-orange-darken-4 {
  background-color: #995b00
}

.text-orange-lighten-4 {
  color: #ffc166
}

.text-orange-darken-4 {
  color: #995b00
}

.fill-orange {
  background-color: #ff9800
}

.fill-orange-lighten-5 {
  background-color: #ffcc80
}

.fill-orange-darken-5 {
  background-color: #804c00
}

.text-orange {
  color: #ff9800
}

.text-orange-lighten-5 {
  color: #ffcc80
}

.text-orange-darken-5 {
  color: #804c00
}

.fill-yellow-darken-0, .fill-yellow-lighten-0 {
  background-color: #ffeb3b
}

.text-yellow-darken-0, .text-yellow-lighten-0 {
  color: #ffeb3b
}

.fill-yellow-lighten-1 {
  background-color: #fe5
}

.fill-yellow-darken-1 {
  background-color: #ffe822
}

.text-yellow-lighten-1 {
  color: #fe5
}

.text-yellow-darken-1 {
  color: #ffe822
}

.fill-yellow-lighten-2 {
  background-color: #fff06e
}

.fill-yellow-darken-2 {
  background-color: #ffe608
}

.text-yellow-lighten-2 {
  color: #fff06e
}

.text-yellow-darken-2 {
  color: #ffe608
}

.fill-yellow-lighten-3 {
  background-color: #fff388
}

.fill-yellow-darken-3 {
  background-color: #eed500
}

.text-yellow-lighten-3 {
  color: #fff388
}

.text-yellow-darken-3 {
  color: #eed500
}

.fill-yellow-lighten-4 {
  background-color: #fff5a1
}

.fill-yellow-darken-4 {
  background-color: #d4be00
}

.text-yellow-lighten-4 {
  color: #fff5a1
}

.text-yellow-darken-4 {
  color: #d4be00
}

.fill-yellow {
  background-color: #ffeb3b
}

.fill-yellow-lighten-5 {
  background-color: #fff8bb
}

.fill-yellow-darken-5 {
  background-color: #bba700
}

.text-yellow {
  color: #ffeb3b
}

.text-yellow-lighten-5 {
  color: #fff8bb
}

.text-yellow-darken-5 {
  color: #bba700
}

.fill-green-darken-0, .fill-green-lighten-0 {
  background-color: #28a745
}

.text-green-darken-0, .text-green-lighten-0 {
  color: #28a745
}

.fill-green-lighten-1 {
  background-color: #2dbc4e
}

.fill-green-darken-1 {
  background-color: #23923d
}

.text-green-lighten-1 {
  color: #2dbc4e
}

.text-green-darken-1 {
  color: #23923d
}

.fill-green-lighten-2 {
  background-color: #34ce57
}

.fill-green-darken-2 {
  background-color: #1e7e34
}

.text-green-lighten-2 {
  color: #34ce57
}

.text-green-darken-2 {
  color: #1e7e34
}

.fill-green-lighten-3 {
  background-color: #48d368
}

.fill-green-darken-3 {
  background-color: #19692c
}

.text-green-lighten-3 {
  color: #48d368
}

.text-green-darken-3 {
  color: #19692c
}

.fill-green-lighten-4 {
  background-color: #5dd879
}

.fill-green-darken-4 {
  background-color: #145523
}

.text-green-lighten-4 {
  color: #5dd879
}

.text-green-darken-4 {
  color: #145523
}

.fill-green {
  background-color: #28a745
}

.fill-green-lighten-5 {
  background-color: #71dd8a
}

.fill-green-darken-5 {
  background-color: #0f401b
}

.text-green {
  color: #28a745
}

.text-green-lighten-5 {
  color: #71dd8a
}

.text-green-darken-5 {
  color: #0f401b
}

.fill-blue-darken-0, .fill-blue-lighten-0 {
  background-color: #2d578f
}

.text-blue-darken-0, .text-blue-lighten-0 {
  color: #2d578f
}

.fill-blue-lighten-1 {
  background-color: #3363a2
}

.fill-blue-darken-1 {
  background-color: #274b7c
}

.text-blue-lighten-1 {
  color: #3363a2
}

.text-blue-darken-1 {
  color: #274b7c
}

.fill-blue-lighten-2 {
  background-color: #396fb6
}

.fill-blue-darken-2 {
  background-color: #213f68
}

.text-blue-lighten-2 {
  color: #396fb6
}

.text-blue-darken-2 {
  color: #213f68
}

.fill-blue-lighten-3 {
  background-color: #447bc4
}

.fill-blue-darken-3 {
  background-color: #1b3455
}

.text-blue-lighten-3 {
  color: #447bc4
}

.text-blue-darken-3 {
  color: #1b3455
}

.fill-blue-lighten-4 {
  background-color: #5889ca
}

.fill-blue-darken-4 {
  background-color: #152841
}

.text-blue-lighten-4 {
  color: #5889ca
}

.text-blue-darken-4 {
  color: #152841
}

.fill-blue {
  background-color: #2d578f
}

.fill-blue-lighten-5 {
  background-color: #6b97d0
}

.fill-blue-darken-5 {
  background-color: #0e1c2e
}

.text-blue {
  color: #2d578f
}

.text-blue-lighten-5 {
  color: #6b97d0
}

.text-blue-darken-5 {
  color: #0e1c2e
}

.fill-purple-darken-0, .fill-purple-lighten-0 {
  background-color: #9c27b0
}

.text-purple-darken-0, .text-purple-lighten-0 {
  color: #9c27b0
}

.fill-purple-lighten-1 {
  background-color: #af2cc5
}

.fill-purple-darken-1 {
  background-color: #89229b
}

.text-purple-lighten-1 {
  color: #af2cc5
}

.text-purple-darken-1 {
  color: #89229b
}

.fill-purple-lighten-2 {
  background-color: #bc37d3
}

.fill-purple-darken-2 {
  background-color: #771e86
}

.text-purple-lighten-2 {
  color: #bc37d3
}

.text-purple-darken-2 {
  color: #771e86
}

.fill-purple-lighten-3 {
  background-color: #c34cd7
}

.fill-purple-darken-3 {
  background-color: #641971
}

.text-purple-lighten-3 {
  color: #c34cd7
}

.text-purple-darken-3 {
  color: #641971
}

.fill-purple-lighten-4 {
  background-color: #ca61dc
}

.fill-purple-darken-4 {
  background-color: #52145d
}

.text-purple-lighten-4 {
  color: #ca61dc
}

.text-purple-darken-4 {
  color: #52145d
}

.fill-purple {
  background-color: #9c27b0
}

.fill-purple-lighten-5 {
  background-color: #d176e1
}

.fill-purple-darken-5 {
  background-color: #3f1048
}

.text-purple {
  color: #9c27b0
}

.text-purple-lighten-5 {
  color: #d176e1
}

.text-purple-darken-5 {
  color: #3f1048
}

.fill-pink-darken-0, .fill-pink-lighten-0 {
  background-color: #e91e63
}

.text-pink-darken-0, .text-pink-lighten-0 {
  color: #e91e63
}

.fill-pink-lighten-1 {
  background-color: #eb3573
}

.fill-pink-darken-1 {
  background-color: #d81558
}

.text-pink-lighten-1 {
  color: #eb3573
}

.text-pink-darken-1 {
  color: #d81558
}

.fill-pink-lighten-2 {
  background-color: #ee4c83
}

.fill-pink-darken-2 {
  background-color: #c1134e
}

.text-pink-lighten-2 {
  color: #ee4c83
}

.text-pink-darken-2 {
  color: #c1134e
}

.fill-pink-lighten-3 {
  background-color: #f06493
}

.fill-pink-darken-3 {
  background-color: #aa1145
}

.text-pink-lighten-3 {
  color: #f06493
}

.text-pink-darken-3 {
  color: #aa1145
}

.fill-pink-lighten-4 {
  background-color: #f27ba3
}

.fill-pink-darken-4 {
  background-color: #930e3b
}

.text-pink-lighten-4 {
  color: #f27ba3
}

.text-pink-darken-4 {
  color: #930e3b
}

.fill-pink {
  background-color: #e91e63
}

.fill-pink-lighten-5 {
  background-color: #f492b4
}

.fill-pink-darken-5 {
  background-color: #7b0c32
}

.text-pink {
  color: #e91e63
}

.text-pink-lighten-5 {
  color: #f492b4
}

.text-pink-darken-5 {
  color: #7b0c32
}

.fill-brown-darken-0, .fill-brown-lighten-0 {
  background-color: #795548
}

.text-brown-darken-0, .text-brown-lighten-0 {
  color: #795548
}

.fill-brown-lighten-1 {
  background-color: #896052
}

.fill-brown-darken-1 {
  background-color: #694a3e
}

.text-brown-lighten-1 {
  color: #896052
}

.text-brown-darken-1 {
  color: #694a3e
}

.fill-brown-lighten-2 {
  background-color: #996b5b
}

.fill-brown-darken-2 {
  background-color: #593f35
}

.text-brown-lighten-2 {
  color: #996b5b
}

.text-brown-darken-2 {
  color: #593f35
}

.fill-brown-lighten-3 {
  background-color: #a57868
}

.fill-brown-darken-3 {
  background-color: #49332b
}

.text-brown-lighten-3 {
  color: #a57868
}

.text-brown-darken-3 {
  color: #49332b
}

.fill-brown-lighten-4 {
  background-color: #af8778
}

.fill-brown-darken-4 {
  background-color: #392822
}

.text-brown-lighten-4 {
  color: #af8778
}

.text-brown-darken-4 {
  color: #392822
}

.fill-brown {
  background-color: #795548
}

.fill-brown-lighten-5 {
  background-color: #b89588
}

.fill-brown-darken-5 {
  background-color: #291d18
}

.text-brown {
  color: #795548
}

.text-brown-lighten-5 {
  color: #b89588
}

.text-brown-darken-5 {
  color: #291d18
}

.fill-grey-darken-0, .fill-grey-lighten-0 {
  background-color: #9e9e9e
}

.text-grey-darken-0, .text-grey-lighten-0 {
  color: #9e9e9e
}

.fill-grey-lighten-1 {
  background-color: #ababab
}

.fill-grey-darken-1 {
  background-color: #919191
}

.text-grey-lighten-1 {
  color: #ababab
}

.text-grey-darken-1 {
  color: #919191
}

.fill-grey-lighten-2 {
  background-color: #b8b8b8
}

.fill-grey-darken-2 {
  background-color: #858585
}

.text-grey-lighten-2 {
  color: #b8b8b8
}

.text-grey-darken-2 {
  color: #858585
}

.fill-grey-lighten-3 {
  background-color: #c4c4c4
}

.fill-grey-darken-3 {
  background-color: #787878
}

.text-grey-lighten-3 {
  color: #c4c4c4
}

.text-grey-darken-3 {
  color: #787878
}

.fill-grey-lighten-4 {
  background-color: #d1d1d1
}

.fill-grey-darken-4 {
  background-color: #6b6b6b
}

.text-grey-lighten-4 {
  color: #d1d1d1
}

.text-grey-darken-4 {
  color: #6b6b6b
}

.fill-grey {
  background-color: #9e9e9e
}

.fill-grey-lighten-5 {
  background-color: #dedede
}

.fill-grey-darken-5 {
  background-color: #5e5e5e
}

.text-grey {
  color: #9e9e9e
}

.text-grey-lighten-5 {
  color: #dedede
}

.text-grey-darken-5 {
  color: #5e5e5e
}

.fill-white {
  background-color: #fff
}

.text-white {
  color: #fff
}

.fill-black {
  background-color: #000
}

.text-black {
  color: #000
}

.fill-light {
  background-color: #f3f3f3
}

.text-light {
  color: #f3f3f3
}

.fill-dark {
  background-color: #333
}

.text-dark {
  color: #333
}

.fill-success {
  background-color: #6db797
}

.text-success {
  color: #6db797
}

.fill-danger {
  background-color: #dd5246
}

.text-danger {
  color: #dd5246
}

.fill-warning {
  background-color: #fecc40
}

.text-warning {
  color: #fecc40
}

.fill-divider {
  background-color: #e6e6e6
}

.text-divider {
  color: #e6e6e6
}

.fill-link {
  background-color: #007acc
}

.text-link {
  color: #007acc
}

.flush {
  border-left: none;
  border-right: none
}

.m-none {
  margin: none
}

.mp-none, .p-none {
  padding: none
}

.mp-none {
  margin: none
}

.pl-large {
  padding-left: 25px
}

.pt-large {
  padding-top: 25px
}

.pr-large {
  padding-right: 25px
}

.pb-large {
  padding-bottom: 25px
}

.p-large {
  padding: 25px
}

.pl-medium {
  padding-left: 20px
}

.pt-medium {
  padding-top: 20px
}

.pr-medium {
  padding-right: 20px
}

.pb-medium {
  padding-bottom: 20px
}

.p-medium {
  padding: 20px
}

.pl-default {
  padding-left: 15px
}

.pt-default {
  padding-top: 15px
}

.pr-default {
  padding-right: 15px
}

.pb-default {
  padding-bottom: 15px
}

.p-default {
  padding: 15px
}

.pl-small {
  padding-left: 10px
}

.pt-small {
  padding-top: 10px
}

.pr-small {
  padding-right: 10px
}

.pb-small {
  padding-bottom: 10px
}

.p-small {
  padding: 10px
}

.pl-extra-small {
  padding-left: 7px
}

.pt-extra-small {
  padding-top: 7px
}

.pr-extra-small {
  padding-right: 7px
}

.pb-extra-small {
  padding-bottom: 7px
}

.p-extra-small {
  padding: 7px
}

.ml-large {
  margin-left: 25px
}

.mt-large {
  margin-top: 25px
}

.mr-large {
  margin-right: 25px
}

.mb-large {
  margin-bottom: 25px
}

.m-large {
  margin: 25px
}

.ml-medium {
  margin-left: 20px
}

.mt-medium {
  margin-top: 20px
}

.mr-medium {
  margin-right: 20px
}

.mb-medium {
  margin-bottom: 20px
}

.m-medium {
  margin: 20px
}

.ml-default {
  margin-left: 15px
}

.mt-default {
  margin-top: 15px
}

.mr-default {
  margin-right: 15px
}

.mb-default {
  margin-bottom: 15px
}

.m-default {
  margin: 15px
}

.ml-small {
  margin-left: 10px
}

.mt-small {
  margin-top: 10px
}

.mr-small {
  margin-right: 10px
}

.mb-small {
  margin-bottom: 10px
}

.m-small {
  margin: 10px
}

.ml-extra-small {
  margin-left: 7px
}

.mt-extra-small {
  margin-top: 7px
}

.mr-extra-small {
  margin-right: 7px
}

.mb-extra-small {
  margin-bottom: 7px
}

.m-extra-small {
  margin: 7px
}

.is-rounded-xs {
  border-radius: 4px
}

.is-rounded-sm {
  border-radius: 7px
}

.is-rounded {
  border-radius: 10px
}

.is-rounded-md {
  border-radius: 13px
}

.is-rounded-lg {
  border-radius: 16px
}

.is-shadowed {
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.1),0 1px 2px 0 rgba(0,0,0,.06)
}

.inactive {
  display: none
}

.active {
  display: flex
}

.border-default {
  border: 1px solid #e6e6e6
}

.border-default-left {
  border-left: 1px solid #e6e6e6
}

.border-default-top {
  border-top: 1px solid #e6e6e6
}

.border-default-right {
  border-right: 1px solid #e6e6e6
}

.border-default-bottom {
  border-bottom: 1px solid #e6e6e6
}

.border-small {
  border: .5px solid #e6e6e6
}

.border-small-left {
  border-left: .5px solid #e6e6e6
}

.border-small-top {
  border-top: .5px solid #e6e6e6
}

.border-small-right {
  border-right: .5px solid #e6e6e6
}

.border-small-bottom {
  border-bottom: .5px solid #e6e6e6
}

.outline-default {
  outline: 1px solid #e6e6e6
}

body, html {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%
}

.body {
  display: flex;
  flex-grow: 1
}

.header {
  background-color: #007acc;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px;
  color: #f3f3f3
}

  .header .header-title {
    font-size: 1.5rem
  }

.sidebar {
  background-color: #f3f3f3;
  width: 300px;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  align-items: stretch
}

  .sidebar .sidebar-header {
    background-color: #e6e6e6;
    height: 200px
  }

  .sidebar .sidebar-content {
    flex-grow: 1
  }

  .sidebar .sidebar-footer {
    background-color: #e6e6e6;
    padding: 15px
  }

.content {
  padding: 15px;
  flex: 1;
  overflow-y: scroll
}
