<div class="card" *ngIf="symbolicLinks">
  <div class="card-header">
    Existing Symbolic Links
  </div>
  <div class="list-group list-group-flush" *ngIf="symbolicLinks.length !== 0">
    <div class="list-group-item" *ngFor="let symbolicLink of symbolicLinks">
      <div class="d-flex w-100 justify-content-between">
        <h6 class="mb-1">{{symbolicLink.name}}</h6>
      </div>
      <code class="mb-1">{{symbolicLink.source}}</code><br />
      <code>{{symbolicLink.target}}</code>
    </div>
  </div>
  <div class="card-body" *ngIf="symbolicLinks.length === 0">
    You have not configured any symbolic links.
  </div>
</div>
