<div class="card" *ngIf="symbolicLinks">
  <div class="card-header">
    Existing Symbolic Links!
  </div>
  <table class="table mb-0">
    <thead>
      <tr>
        <th>Name</th>
        <th>Source</th>
        <th>Target</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let symbolicLink of symbolicLinks">
        <td>{{symbolicLink.name}}</td>
        <td>
          <code>{{symbolicLink.source}}</code>
        </td>
        <td>
          <code>{{symbolicLink.target}}</code>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="card-body" *ngIf="symbolicLinks.length === 0">
    You have not configured any symbolic links.
  </div>
</div>
