<div class="watchers">
  <div class="list-group list-group-flush" *ngIf="groupedWatchers.length !== 0">
    <div class="list-group-item" *ngFor="let grouped of groupedWatchers">
      <div class="d-flex w-100 justify-content-between">
        <h6 class="mb-1"></h6>
      </div>
      <div class="mb-3">
        <h6 class="mb-0">{{grouped.symbolicLink.name}}</h6>
        <small><code>{{grouped.symbolicLink.source}}</code> - <code>{{grouped.symbolicLink.target}}</code></small>
      </div>
      <table class="table table-sm">
        <thead class="thead-light">
          <tr>
            <th>Start/Stop</th>
            <th>Filters</th>
            <th width="1%"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let watcher of grouped.watchers" [ngClass]="{'table-danger': watcher.isRunning}">
            <td>
              <a href="#" class="text-decoration-none" *ngIf="!watcher.isRunning" (click)="startWatcher(watcher)">Start</a>
              <a href="#" class="text-decoration-none" *ngIf="watcher.isRunning" (click)="stopWatcher(watcher)">Stop</a>
            </td>
            <td>{{watcher.actions}}</td>
            <td>
              <a href="#" class="text-danger" (click)="deleteWatcher(watcher)"><i class="fa fa-close fa-lg"></i></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div *ngIf="groupedWatchers.length === 0" class="px-5 py-5">
    There no are watchers configured for any of your symbolic links.
  </div>
</div>
