<div class="nav nav-list border-default-right fill-white" style="height: 100%; width: 250px; padding: 30px;">
  <ul class="nav-group">
    <li class="item-header">
      DirWatchTransfer
    </li>
    <li [routerLink]='["/"]'>
      <a>Home</a>
    </li>

    <li class="item-header">
      Symbolic Links
    </li>
    <li [routerLink]='["/symbolic-link/add"]'>
      <a>Add Symbolic Link</a>
    </li>
    <li [routerLink]='["/symbolic-links"]'>
      <a>List Symbolic Links</a>
    </li>

    <li class="item-header">
      Watchers
    </li>
    <li [routerLink]='["/watcher/add"]'>
      <a>Add Watcher</a>
    </li>
    <li [routerLink]='["/watchers"]'>
      <a>List Watchers</a>
    </li>

    <li class="item-header">
      Logs
    </li>
    <li [routerLink]='["/log"]'>
      <a>View Log</a>
    </li>
    <li (click)="logService.openDirectory()">
      <a>Open Log Directory</a>
    </li>
    <li class="item-header">
      Other
    </li>
    <li [routerLink]='["/about"]'>
      <a>About</a>
    </li>
    <li href="https://github.com/NSSure/dir-watch-transfer">
      <a>Source Code</a>
    </li>
    <li class="item-header">
      Version 1.0.0
    </li>
  </ul>
</div>
